{% extends 'staff/base.html' %}

{% block navbar %}
{% with page=1 %}
{{ block.super }}
{% endwith %}
{% endblock %}

{% block content %}
  <div class="container pt-3">    
      <h3>Danh sách hãng sản xuất</h3>
      <div class="text-right mb-3">
        <a href='{% url "manufacturer-create" %}' class="btn btn-primary">Thêm hãng sản xuất</a>
      </div>
      {%if manufacturers %}
      <table class="table table-bordered">
        <tr>
          <th style="width:5%" class="text-center">STT</th>
          <th style="width:40%" class="text-center">Mã</th>
          <th style="width:45%" class="text-center">Tên</th>
          <th style="width:10%" class="text-center">Thao tác</th>
        </tr>
        {% for m in manufacturers %}
          <tr>
            <td class="text-center">{{ forloop.counter }}</td>
            <td class="text-center">{{ m.code }}</td>
            <td class="text-center">{{ m.name }}</td>
            <td class="text-center">
              <a title="Chỉnh sửa"href='{% url "manufacturer-update" m.id %}'><i class="fas fa-edit"></i></a> &nbsp;
              <a title="Xóa" style="color:red" href='#' onclick="confirmDelete(this)" url='{% url "manufacturer-delete" m.id %}'>
                <i class="fas fa-trash"></i>
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>Không có dữ liệu</p>
    {% endif %}    
  </div>

  <script>
    function confirmDelete(a) {
      var url = a.getAttribute('url');
      if(confirm('Bạn có chắc chắn muốn xóa không?')){
        location.href = url;
      }
    }
  </script>

{% endblock %}