.product-name {}

.price-title {
    font-style: italic;
    font-size: 14px;
}

.price {
    font-size: 16px;
    font-weight: bold;
}

.product-image {
    width: 95%;
}

.product-item,
.product-item:link,
.product-item:hover,
.product-item:visited {
    text-decoration: none;
    color: black;
}

.item-container {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
}

.item-info {
    position: absolute;
    bottom: 0px;
    height: 50px;
}

.label-title {
    font-size: 18px;
    font-weight: bold;
}

.product-detail-title {
    font-size: 24px;
    font-weight: bold;
}

.product-detail-image {
    width: 100%
}