{% extends 'staff/base.html' %} {% block navbar %} {% with page=0 %} {{ block.super }} {% endwith %} {% endblock %} {% block content %}
<div class="container pt-3">
    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <table class="table table-form">{{ form }}</table>
        <button class="btn btn-primary" type="submit">Lưu lại</button>
        <a class="btn btn-secondary" href='{% url "product-list" %}'>Quay lại</a>
    </form>
</div>
{% endblock %}